<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center bg-light">
  <h2>Log in</h2>
</div>

<div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center bg-light">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field">
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </p>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-secondary" %>
    </div>
  <% end %>
</div>
