<div class="container-fluid border rounded shadow mt-5 p-4 text-center w-75 bg-light">
  <h1>Teachers</h1>
</div>

<div class="container-fluid border rounded shadow mt-5 p-4 text-center w-75 bg-light">
  <div class="search_group d-flex justify-content-center">
  <%= render "search" %>
  </div>
  <table class="table bg-light ">
    <thead>
      <tr>
        <th scope="col">Sr.no</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Image</th>
        <th scope="col">Edit | Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @teachers.each do |teacher| %>
            <td><input type="checkbox" name="brand"> <%= teacher.id %> </td>
            <td><%= teacher.first_name %></td>
            <td><%= teacher.last_name %></td>
            <td><%= teacher.email %></td>
            <td><%= teacher.Date_of_Birth %></td>
            <td>
            <% if teacher.image.attached? %>
            <%= image_tag teacher.image, style: "width: 50px; display: d-block" %>
            <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_admin_teacher_path(teacher), class:"btn btn-info" %>
              <%= link_to "Delete", admin_teacher_path(teacher),data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }, class:"btn btn-info" %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
