<%= form_for [:admin, @student], data: {turbo: false} do |f| %>
<%= render "admin/shared/error", model: @student %>
  <div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center bg-light">
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name , class: "form-control"%>
    </div>
  
    <div class="field">
      <%= f.label :Date_of_Birth %><br />
      <%= f.date_select :Date_of_Birth, start_year: 1990, end_year: Time.now.year %>
    </div>

    <div class="field">
      <%= f.label :roll_no %><br />
      <%= f.number_field :roll_no , class: "form-control"%>
    </div>

    <div class="field">
      <%= label_tag :semester_type%><br>
      <%= select_tag :semester_type, options_for_select([ 'Fall', 'Spring'], 'Type'), class: "form-control" %>
    </div>

    <div class="field">
      <%= label_tag :semester_no %><br>
      <%= select_tag :semester_no, options_for_select([ '1','2','3','4','5','6','7','8'], 'Semester'), class: "form-control" %>
    </div>

    <div class="field">
      <%= label_tag :enroll_year %><br>
      <%= text_field :enroll_year,{}, class:"form-control" %>
    </div>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
  
    <div class="field">
      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control" %>
      </p>
    </div>
  
    <div class="actions">
      <p>
        <%= f.submit class: 'btn btn-info' %>
      </p>
    </div>

    <div class="actions">
      <%= link_to "Back", admin_students_path, class: 'btn btn-info' %>
    </div>
  </div>
<% end %>
  