<div class="container-fluid border rounded shadow mt-5 p-4 text-center w-75 bg-light">
  <h1>Students</h1>
</div>

<div class="container-fluid border rounded shadow mt-5 p-4 text-center w-75 bg-light">
  <%= render "search" %>
  <table class="table bg-light ">
    <thead>
      <tr>
        <th scope="col">Sr.no</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Roll no</th>
        <th scope="col">Semester</th>
        <th scope="col">Semester Type</th>
        <th scope="col">Email</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Edit | Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
            <td><input type="checkbox" name="brand"> <%= student.id %> </td>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.roll_no %></td>
            <td><%= student.semesters.last.semester_no %></td>
            <td><%= student.semesters.last.semester_type %></td>
            <td><%= student.email %></td>
            <td><%= student.Date_of_Birth %></td>
            <td>
              <%= link_to "Edit", edit_admin_student_path(student), class:"btn btn-secondary" %>
              <%= link_to "Delete", admin_student_path(student),data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }, class:"btn btn-secondary" %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container-fluid border rounded shadow mt-5 p-4 text-center w-75 bg-light">
  <p>
    <%= link_to "Add Student", new_admin_student_path, class: "btn btn-secondary" %>
    <%= link_to "Back", admin_session_index_path, class: "btn btn-secondary" %>
  </p>
</div>
