<%= form_with model: @course do |f| %>
  <div class="container-fluid w-25 border rounded shadow mt-5 p-4 text-center bg-transparent">
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
  
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :roll_no %><br />
      <%= f.number_field :roll_no %>
    </div>

    <div class="field">
      <%= f.label :semester %><br>
      <%= f.select :semester, [ '1','2','3','4','5','6','7','8'], :prompt => 'Semester' %>
    </div>
  
    <div class="actions">
      <%= f.submit class: 'btn btn-secondary' %>
    </div>

    <div class="actions">
      <%= link_to "Back", admin_students_path, class: 'btn btn-secondary'  %>
    </div>
  </div>
<% end %>
  