<p>
	<strong> ID : </strong> 
	<%= @student.id %>
</p>

<p>
	<strong> First Name : </strong> 
	<%= @student.first_name %>
</p>

<p>
	<strong> Last Name : </strong>
	<%= @student.last_name %>
</p>

<p>
	<strong> Email : </strong>
	<%= @student.email %>
</p>

<p>
	<strong> Date_of_Birth : </strong>
	<%= @student.Date_of_Birth %>
</p>


<p>
	<strong> Roll_no : </strong>
	<%= @student.roll_no %>
</p>

<p>
	<strong> Semester_Type : </strong>
	<%= @student.semesters.last.semester_type %>
</p>

<p>
	<strong> Semester : </strong>
	<%= @student.semesters.last.semester_no %>
</p>

<ul>
  <li><%= link_to "Edit", edit_admin_student_path(@student) %></li>
  <li><%= link_to "Destroy", admin_student_path(@student), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<%= link_to "Back", admin_students_path %>
