<div class="main">
	<div class="contain">
		<div class="content">
			<h4>Teacher Log In </h4>
			<hr>
			<p>Please Add credentials</p>
			<div class="container-fluid w-25 border rounded shadow  text-center bg-light " style= "padding: 50px">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field">
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </p>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-info" %>
    </div>
  <% end %>
</div>
    <%= link_to "Back", root_path, class:"btn btn-info" %>
		</div>
	</div>
</div>