<div class="container-fluid border rounded shadow mt-5 p-4 text-center w-75 bg-light">
	<h3>Search Result</h3>
</div>

<div class="container-fluid border rounded shadow mt-5 p-4 text-center w-75 bg-white">
  <table class="table bg-light ">
    <thead>
      <tr>
        <th scope="col">Sr.no</th>
        <th scope="col">Course Title</th>
        <th scope="col">Course Code</th>
        <th scope="col">Edit | Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
				<td><input type="checkbox" name="brand"> <%= result.id %> </td>
				<td><%= result.course_title %></td>
				<td><%= result.course_code %></td>
				<td>
					<%= link_to "Edit", edit_admin_course_path(result), class:"btn btn-secondary" %>
					<%= link_to "Delete", admin_course_path(result),data: {
						turbo_method: :delete,
						turbo_confirm: "Are you sure?"
					}, class:"btn btn-secondary" %>
				</td>
				</tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container-fluid border rounded shadow mt-5 p-4 text-center w-75 bg-light">
	<p>
		<%= link_to "Back", admin_courses_path, class:"btn btn-secondary" %>
	</p>
</div>
